/* ================================================================
  ||                        ESTILOS GENERALES                     ||
   ================================================================ */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #eeffef;
}

a {
    text-decoration: none;
    color: #92ff44;
}

a:hover {
    color: #92ff44;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* ================================================================
  ||                        ESTILOS DEL HEADER                    ||
   ================================================================ */
.header {
    background-color: #2f5356;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #84d1c6;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 65px;
    height: auto;
    margin-right: 10px;
}

.site-title {
    font-size: 1.8em;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li a {
    font-weight: 700;
    padding: 10px 15px;
    color: white;
    transition: color 0.3s ease;
    position: relative;
}

.nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #b7fca9;
    /* Color del subrayado */
    bottom: 0;
    left: 0;
    transition: width 0.4s ease;
}

.nav li a:hover {
    color: #b7fca9;
}

.nav li a:hover::after {
    width: 100%;
    /* Subrayado completo */
}

/* Opción para cambiar el fondo al hacer hover */
.nav li a:hover {
    background-color: rgba(50, 114, 37, 0.127);
    /* Fondo semi-transparente */
    border-radius: 4px;
}

/* ================================================================
  ||                    SECCIÓN HERO (DESTACADA)                  ||
   ================================================================ */
.hero {
    background: url('images/20230602161539_6fe40edd-25f1-492b-bb00-aaa1cd5e67f21.png') no-repeat center center/cover;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.hero#nosotros-hero {
    background: url('images/Caan.jpg') no-repeat center center/cover;
    height: 70vh;
}

.hero-content {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    background: rgb(43 36 2 / 50%);
    background: rgb(46 75 41 / 55%);
    /* background: rgb(7 40 2 / 66%); */

}

.hero-content#home_hero {
    color: white;
    /*     background: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 5px;
    /*     background: rgb(43 36 2 / 50%);
    background: rgb(46 75 41 / 50%); */
    /*  background: rgb(7 40 2 / 66%); */
    /* background: rgb(50 79 41 / 78%); */
    /*     text-shadow: 2px 2px 4px black, -2px -2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
    text-shadow: 1px 2px 4px black, -2px -2px 15px black, -2px -1px 11px black, 0px -2px 8px black; */
    /* text-shadow: 0 4px 8px rgba(0, 0, 0, 1.75); */
    text-shadow: 1px 8px 8px rgba(0, 0, 0, 1.75);
    /*  text-shadow: 0px 1px 21px rgb(67 123 69); */
}

.cta-button {
    background-color: #92ff44;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-shadow: none;
}

.cta-button:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.88);
    color: white;
}

.image_info {
    width: 90%;
}

/* ================================================================
  ||                CONTENEDOR DE ONDAS (WAVE CONTAINER)          ||
   ================================================================ */
.wave-container {
    position: relative;
    top: -253px;
    margin: 0px;
    margin-bottom: -260px;
}

.wave-container svg {
    display: block;
    width: 100%;
    height: auto;
}

.wave-container-footer {
    position: relative;
    top: -244px;
    margin: 0px;
    height: 50px;
    margin-bottom: -51px;
}

.wave-container-footer svg {
    display: block;
    width: 100%;
    height: auto;
}

.wave-container#adopta {
    margin-bottom: -256px;
    top: -246px;
}

.valores-wave,
.valores-wave-bottom {
    position: relative;
    margin: 0;
    top: -95px;
    width: 100%;
    padding: 0;
    margin-bottom: -211px;
    background-color: #8ecdb8;
}

.valores-wave svg,
.valores-wave-bottom svg {
    display: block;
    width: 100%;
    height: auto;
}

.nosotros-wave {
    background-color: #8ecdb8;
}

.wave-container#login-wave {
    position: relative;
    top: -253px;
    margin: 0px;
    margin-bottom: -341px;
    z-index: -1;
}

/* ================================================================
  ||                  SECCIÓN DE INFORMACIÓN                     ||
   ================================================================ */
.info-section,
#contenedor-perros {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    background-color: #8ecdb8;
    flex-wrap: wrap;
}

.info-item {
    background-color: #b9dfd1;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 23%;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
    cursor: pointer;
    scale: 105%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: white;
}

.overlay {
    color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.overlay h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1em;
    margin: 0;
}

.perro-detalle,
.evento-detalle,
.confirmacion-adopcion,
.mensaje-confirmacion {
    margin-top: 20px;
    text-align: center;
}

.perro-detalle img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.perro-detalle h2,
.mensaje-confirmacion h2,
.pantalla-confirmacion h2 {
    color: #2f5356;
}

.detalle-contenido-container,
.pantalla-confirmacion {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
    background-color: #8ecdb8;
    flex-wrap: wrap;
}

.mensaje-confirmacion {
    background-color: #8ecdb8;
    padding: 40px;
}

.btn-adopcion-confirmar {
    padding: 12px;
    background-color: green;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-adopcion-confirmar:hover {
    background-color: #194d19;
}

.btn-adopcion-cancelar {
    padding: 12px;
    background-color: red;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-adopcion-cancelar:hover {
    background-color: rgb(152, 29, 29);
}

.confirmacion-adopcion img {
    width: 150px;
}

/* ================================================================
  ||                   SECCIÓN DE DESTACADOS                     ||
   ================================================================ */
.highlights {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: white;
}

.highlight-box {
    text-align: center;
    max-width: 300px;
}

.highlight-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.highlight-box p {
    font-size: 1em;
    margin-bottom: 15px;
}

.highlight-box a {
    background-color: #92ff44;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.highlight-box a:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: white;
}

/* ================================================================
  ||                   SECCIÓN "SOBRE NOSOTROS"                  ||
   ================================================================ */
.about-us-section {
    background-color: #eeffef;
    padding: 40px 20px;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 175px;
    padding-bottom: 79px;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 55px;
    color: #2f5356;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about-text {
    width: 50%;
    text-align: left;
    font-size: 1.2em;
    color: #333;
}

.about-text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-text li {
    margin: 10px 0;
}

.about-image {
    width: 45%;
    text-align: center;
}

.about-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    object-fit: cover;
}

.about-text p {
    text-align: justify;
}

/* Button below "About Us" section */
.cta-button {
    background-color: #29695c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cta-button#nosotros:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    /* box-shadow: 0 0 15px rgb(71 133 77 / 70%); */
    /* box-shadow: 0 0 15px rgb(215 255 80); */
    box-shadow: 0 0 15px rgb(255 254 32 / 73%);
    color: white;
}

/* ================================================================
   ||                    SECCIÓN DE FOOTER                        ||
   ================================================================ */
.footer {
    background-color: #2f5356;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    height: 200px;
    margin-top: 66px;
}


.footer-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    margin: 1%;
    font-size: 14px;
}

.cta-button#contactarnos {
    width: 10%;
}

button:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/* ================================================================
   ||                       MENU DE NAVEGACIÓN                    ||
   ================================================================ */
.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav {
    display: flex;
    z-index: 20;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

@media (max-width: 885px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: #2f5356;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        border-top: 1px solid #84d1c6;
    }

    .nav.active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
    }

    .nav li a {
        padding: 10px;
        display: block;
    }

    .nav ul {
        flex-direction: column;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-item {
        width: 95%;
        height: auto;
    }

    .wave-container-footer {
        top: -139px;
        margin-bottom: -30px;
    }

    .footer-content {
        padding: 0px;
    }
}

/* ================================================================
   ||                SECCIÓN DE CONTENEDORES PARA TARJETAS         ||
   ================================================================ */

.contenedor-perros,
#contenedor-eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #8ECDB8;
}

#contenedor-eventos {
    padding-bottom: 208px;
}

.tarjeta-image {
    height: auto;
    width: 100%;
}

.tarjeta-perro,
.tarjeta-evento {
    border: 2px solid #c9fbff85;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 5px 4px 8px rgb(0 105 48 / 84%);
    transition: transform 0.3s;
    background-color: #b9dfd1;
}

.tarjeta-perro:hover,
.tarjeta-evento:hover {
    transform: translateY(-5px);
}

.tarjeta-perro img {
    width: 100%;
    height: auto;
}

.tarjeta-perro .detalles,
.tarjeta-evento .detalles {
    padding: 15px;
    text-align: center;
    margin: 5px;
}

.tarjeta-perro h3,
.tarjeta-evento h3 {
    margin: 0 0 10px;
    color: #333;
    margin: 2%;
}

.tarjeta-perro p,
.tarjeta-evento p {
    margin: 5px 0;
    color: #555;
    margin: 2%;
}

.adoption-button {
    background-color: #2f5356;
    color: white;
    padding: 15px 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.adoption-button:hover {
    background-color: #1f3d3c;
}

/* ================================================================
   ||                    SECCIÓN HERO PARA ADOPCIÓN Y EVENTOS      ||
   ================================================================ */
.hero#adopt {
    background: url('images/perro_mestizo.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.hero#event {
    background: url('images/GettyImages-1423623555.webp') no-repeat center center/cover;
    height: 70vh;
}

/* ================================================================
   ||                SECCIÓN DE INTRODUCCIÓN ANTES DE TARJETAS     ||
   ================================================================ */
.introduccion {
    background-color: #8ECDB8;
    padding: 40px;
    text-align: center;
}

.introduccion h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.introduccion p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.hero {
    background-color: #8ecdb8;
    color: white;
    padding: 60px 20px;
    text-align: center;
    height: 70vh;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .cta-button {
    background-color: #2f5356;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 2s ease;
    z-index: 10;
    position: relative;
}

/* .hero .cta-button:hover {
    background-color: #1f3d3c;
} */
.hero .cta-button:hover {
    cursor: pointer;
    background-color: #1f363d;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.88);
    color: white;
}


/* ================================================================
   ||                   SECCIÓN DE PREGUNTAS FRECUENTES            ||
   ================================================================ */
.faq {
    padding: 40px 20px;
    text-align: center;
}

.faq h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.faq-item h3 {
    font-size: 1.5rem;
    color: #2f5356;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.filters {
    background-color: #8ECDB8;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.filters select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.filters button {
    background-color: #29695c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 20px;

}

.filters button:hover {
    cursor: pointer;
    background-color: #1f363d;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
    color: white;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.card#donar {
    width: 280px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ================================================================
  ||                   SECCIÓN DE QUIENES SOMOS                   ||
   ================================================================ */
.quienes-somos,
.nuestro-equipo {
    padding: 40px 20px;
    text-align: center;
}

.imagenes-historia img,
.miembros-equipo .miembro img {
    width: 45%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.miembros-equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.miembro {
    flex-basis: 30%;
}

.logros-proyectos {
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logros-proyectos h2,
.quienes-somos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: #2f5356;
    margin-top: 0px;
}

.proyecto {
    margin-bottom: 1.5rem;
    border-left: 5px solid #8ecdb8;
    padding-left: 1rem;
    width: 85%;
}

.proyecto h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.proyecto p {
    font-size: 1.2rem;
    color: #555;
}

.quienes-somos {
    background-color: #8ecdb8;
}

.nuestros-valores {
    background-color: #f9f9f9;
    text-align: center;
    color: #2f5356;
    padding-bottom: 100px;
    background-color: #8ecdb8;
}


.titulo-valores {
    font-size: 2.5rem;
    z-index: 2;
    position: relative;
}


.descripcion-valores {
    font-size: 1.2rem;
}

.lista-valores {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

.lista-valores li {
    font-size: 1.1rem;
}


.contenedor-valores {
    background-color: #8ecdb8;
    padding-bottom: 50px;
    padding-top: 50px;
}

#nosotros-footer {
    margin-top: 10px;
}

/* ================================================================
  ||                   SECCIÓN DE LOGIN Y REGISTRO               ||
   ================================================================ */
.login-container,
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8ecdb8;
    background-size: cover;
    padding: 20px;
    margin-top: 0%;
    padding-bottom: 142px;
}

.register-container {
    padding-bottom: 183px;
}

.login-form {
    background: #b9dfd1;
    /* Fondo blanco translúcido */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgb(36 103 54);
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #eeffef;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background: #fff;
}

.input-group input:focus {
    border-color: #4fa3ff;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: green;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    /*     background-color: #226122; */
    background-color: #194d19;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #cf2525;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
    color: red;
}

.sign-up-link {
    text-align: center;
    margin-top: 20px;
}

.sign-up-link a {
    color: #2b8d2b;
    text-decoration: none;
}

.sign-up-link a:hover {
    text-decoration: underline;
}


/* ================================================================
  ||                   SECCIÓN DE LOGIN HERO                    ||
   ================================================================ */
.login-hero {
    color: #2f5356;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 105px;
    margin-top: 35px;
}



.login-hero h1 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.login-hero p {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    margin-top: 0;
}

/* ================================================================
  ||                   SECCIÓN DE REGISTER FORM                  ||
   ================================================================ */

.progress-container {
    width: 80%;
    background-color: #ddd;
    height: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #2f5356;
    /* Color de la barra */
    transition: width 0.3s ease;
}

.register-form {
    background: #b9dfd1;
    /* Fondo blanco translúcido */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgb(36 103 54);
}

.register-form h2,
.login-form h2,
.filters h2,
.contacto-section h2 {
    margin-bottom: 20px;
    color: #2f5356;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.input-group input:focus {
    border-color: #92ff44;
    outline: none;
}

.btn-next,
.btn-submit {
    width: 100%;
    padding: 12px;
    /*     background-color: #2f5356; */
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.btn-next.btn1 {
    width: 48%;
}

.btn-cancel_1 {
    width: 48%;
    padding: 12px;
    /*     background-color: #2f5356; */
    background-color: #6e0909c9;
    background-color: #8a2424;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.btn-cancel {
    width: 48%;
    padding: 12px;
    /*     background-color: #2f5356; */
    background-color: #6e0909c9;
    background-color: #8a2424;
    background-color: #6e0909cf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.btn-cancel:hover,
.btn-cancel_1:hover {
    background-color: #6e0909;
}

.btn-previous {
    width: 48%;
    padding: 12px;
    /*     background-color: #2f5356; */
    background-color: #6e0909c9;
    background-color: #6c757d;
    background-color: #77956d;
    background-color: #567e49;
    background-color: #6e0909cf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.btn-previous:hover {
    background-color: #527347;
    background-color: #6e0909;
}

.btn-next:hover,
.btn-submit:hover {
    /* background-color: #92ff44; */
    background-color: #194d19;
}

.cancelar_siguiente {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
}

.error-message {
    font-size: 0.9em;
    color: red;
    margin-top: 5px;
    display: block;
}

.confirmation-message {
    text-align: center;
    color: #2f5356;
    padding: 20px;
}

.confirmation-message h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #2f5356;
}

.confirmation-message p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

/* ================================================================
  ||                SECCIÓN DE NAVEGACIÓN DE PASOS               ||
   ================================================================ */
.step {
    display: none;
}

.step:first-child {
    display: block;
}

#acept {
    display: flex;
}

.input-group label#terms {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: flex;
}

#terms-input {
    width: 20px;
}

/* ================================================================
  ||                          DONACIONES                          ||
   ================================================================ */
.hero#donaciones-hero {
    background: url('images/donaciones.jpg') no-repeat center center/cover;
    height: 60vh;
}

.wave-container#donar {
    position: relative;
    top: -253px;
    margin: 0px;
    margin-bottom: -322px;
}

.donation-options {
    text-align: center;
    padding: 40px 20px;
    background-color: #8ecdb8;
    padding-bottom: 216px;
}

.donation-options h2 {
    font-size: 2.5em;
    color: #2f5356;
    margin-bottom: 20px;
}

.donation-options p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.donation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-shadow: 5px 4px 8px rgb(0 105 48 / 84%);
    transition: transform 0.3s;
    background-color: #b9dfd1;
}

.card:hover {
    cursor: pointer;
    scale: 105%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: white;
}

.card h3 {
    font-size: 1.5em;
    color: #2f5356;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para la sección de Donar */
.donar-info {
    background-color: #8ecdb8;
    ;
    padding: 40px 20px;
    text-align: center;
    padding-bottom: 235px;
}

.donar-info h2 {
    font-size: 2rem;
    color: #2f5356;
    margin-bottom: 15px;
}

.donar-info p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.6;
}

.donar-info h3 {
    font-size: 1.5rem;
    color: #2f5356;
    margin-bottom: 10px;
}

.donar-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
}

.donar-info ul li {
    margin-bottom: 8px;
}

/* Estilos para la sección de Tipos de Alimentos Aceptados */
.alimentos-donacion {
    background-color: #8ecdb8;
    padding: 40px 20px;
    text-align: center;
}

.alimentos-donacion h2 {
    font-size: 2rem;
    color: #2f5356;
    margin-bottom: 15px;
}

.alimentos-donacion p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.6;
}

.alimentos-donacion ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
}

.alimentos-donacion ul li {
    margin-bottom: 8px;
}

.alimentos-donacion h3 {
    font-size: 1.5rem;
    color: #2f5356;
    margin-bottom: 10px;
}

/* Estilos para los campos adicionales según el método de pago */
.metodo-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.metodo-info input,
.metodo-info select {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#tarjeta-info input[type="text"],
.contenedor input[type="text"] {
    letter-spacing: 2px;
}

#tarjeta-info input[type="month"],
#tarjeta-info input[type="text"] {
    width: 100%;
    margin-bottom: 3%;
}

input[type="file"] {
    border-radius: 10px;
}

input[type="select"],
#availability,
#pets-allowed,
#animal-type,
#payment-method {
    background-color: white;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

input[type="textarea"],
#experience,
#animal-condition,
#resources,
#description,
#comments {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

#tarjeta-info label,
#transferencia-info label {
    font-size: 1.1rem;
    color: #555;
}


/* Estilo general para la sección de donación */
.donacion-form {
    background-color: #b9dfd1;
    padding: 40px 70px;
    border-radius: 8px;
    max-width: max-content;
    margin: 30px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.donacion-form h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2f5356;
    margin-bottom: 20px;
}

.donacion-form p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.donacion-form label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    display: block;
    text-align: left;
}

.donacion-form input[type="text"],
.donacion-form input[type="email"],
.donacion-form input[type="number"],
.donacion-form input[type="month"],
.donacion-form select,
#transferencia-id,
#card-number,
#expiry-date,
#cvv {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
}

#transferencia-id,
#card-number,
#expiry-date,
#cvv {
    margin-bottom: 5%;
    margin-top: 0%;
}

.donacion-form input[type="text"]:focus,
.donacion-form input[type="email"]:focus,
.donacion-form input[type="number"]:focus,
.donacion-form input[type="month"]:focus,
.donacion-form select:focus {
    outline: none;
    border-color: #8ecdb8;
}

.donacion-form input[type="number"] {
    max-width: 150px;
}

.donacion-form .metodo-info {
    background-color: #ddefe2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    width: 93%;
}

.donacion-form .metodo-info input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.donacion-form .metodo-info ul {
    list-style-type: none;
    padding-left: 20px;
    color: #333;
}

.donacion-form .metodo-info ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.donacion-form .metodo-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.formulario-donacion {
    align-items: start;
    display: flex;
    flex-direction: column;
}

.hero#donar-hero {
    background: url('images/dona_comida.jpg') no-repeat center center/cover;
    height: 70vh;
}

.logo-redes {
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    transition: transform 0.5s, filter 0.5s;
    cursor: pointer;
}

.logo-redes:hover {
    transform: scale(1.2);
    /* agranda la imagen al hacer hover */
    filter: brightness(1.5);
    /* resalta la imagen al hacer hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    /* agrega un resplandor blanco al hacer hover */
}

/* Contact Form Styles */
.contacto {
    padding: 50px 0;
    background-color: #f7f7f7;
    text-align: center;
}

.contacto-section {
    background-color: #8ecdb8;
    padding-bottom: 139px;
    padding-top: 58px;
}

.cont_contacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor {
    width: 45%;
    background-color: #b9dfd1;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.contenedor form {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.contenedor label {
    margin-bottom: 10px;
    font-weight: 700;
    color: #2f5356;
}

.contenedor input,
.contenedor textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.contenedor input[type="text"],
.contenedor input[type="email"] {
    width: auto;
    height: 20px;
}

.contenedor textarea {
    width: auto;
    resize: none;
}

.contenedor button {
    padding: 10px 20px;
    background-color: #8ecdb8;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor button:hover {
    background-color: #2f5356;
}

.ubicacion {
    width: 45%;
    height: 400px;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */


@media (max-width: 1350px) {
    .hero h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .wave-container#adopta {
        margin-bottom: -236px;
        top: -222px;
    }

    .wave-container#login-wave {
        top: -189px;
        margin-bottom: -261px;
    }
}

@media (max-width: 1200px) {
    .hero h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .hero .cta-button {
        font-size: 0.8rem;
    }

    .wave-container#login-wave {
        top: -146px;
        margin-bottom: -180px;
    }
}

@media (max-width: 1160px) {
    .header {
        font-size: small;
    }

    .info-item,
    .tarjeta-perro {
        flex: 1 1 calc(45% - 20px);
        /* 2 columnas en pantallas más pequeñas */
    }

    .image_info {
        width: 50%;
    }

    .cta-button#contactarnos {
        width: 15%;
    }
}

@media (max-width: 1020px) {
    .header {
        font-size: x-small;
    }
}

@media (max-width: 1040px) {
    .wave-container-footer {
        top: -216px;
    }
}

@media (max-width: 950px) {
    .wave-container-footer {
        top: -200px;
    }

    .hero h2 {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 0.7rem;
    }

    .hero .cta-button {
        font-size: 0.5rem;
        padding: 10px;
        margin-top: 0px;
    }

    .wave-container {
        position: relative;
        top: -205px;
        margin: 0px;
        margin-bottom: -231px;
    }
}

@media (max-width: 880px) {
    .wave-container-footer {
        top: -176px;
    }

    .cont_contacto {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contenedor {
        width: 80%;
    }

    .ubicacion {
        width: 75%;
        height: 400px;
        position: relative;
        padding-bottom: 76px;
    }
}

@media (max-width: 770px) {
    .wave-container-footer {
        top: -143px;
    }

    .cta-button#contactarnos {
        width: 20%;
    }

    .wave-container {
        position: relative;
        top: -151px;
        margin: 0px;
        margin-bottom: -159px;
    }

    .wave-container#adopta {
        margin-bottom: -192px;
        top: -159px;
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text,
    .about-image {
        width: 100%;
    }

    .login-container {
        padding: 10px;
    }

    .login-form {
        width: 90%;
        max-width: 400px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (max-width: 620px) {
    .wave-container-footer {
        top: -114px;
    }

    .cta-button#contactarnos {
        width: 25%;
    }

    .wave-container#adopta {
        margin-bottom: -167px;
        top: -146px;
    }

    .wave-container#login-wave {
        top: -107px;
        margin-bottom: -122px;
    }
}

@media (max-width: 490px) {
    .wave-container-footer {
        top: -84px;
    }

    .cta-button#contactarnos {
        width: 30%;
    }

    .wave-container {
        top: -156px;
    }
}

@media (max-width: 430px) {
    .wave-container {
        top: -92px;
        margin-bottom: -94px;
    }

    .wave-container#adopta {
        margin-bottom: -130px;
        top: -123px;
    }
}

@media (max-width: 355px) {
    .wave-container-footer {
        top: -59px;
    }
}

/* Estilos para el menú desplegable */
.user-menu {
    position: relative;
}

.user-menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.user-menu .dropdown-menu.show {
    display: block;
}

.user-menu .dropdown-menu li {
    list-style-type: none;
}

.user-menu .dropdown-menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.user-menu .dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

/* Estilo para el contenedor del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
    /* Mostrar el dropdown cuando se active */
}

.user-name {
    position: relative;
}

/* Estilo para los enlaces dentro del dropdown */
/* Estilo para el dropdown */
.logout-dropdown {
    display: none;
    /* Estará oculto por defecto */
    background-color: #2f5356;
    padding: 10px;
    /* Espaciado */
    border-radius: 5px;
    /* Bordes redondeados */
    position: absolute;
    /* Para posicionarlo encima del menú */
    right: 0;
    /* Ajustarlo al lado derecho */
    top: 68px;
    color: white;
}

.logout-dropdown a {
    text-decoration: none;
    color: white;
}

/* Mostrar el dropdown cuando la clase 'show' esté presente */
.logout-dropdown.show {
    display: block;
    /* Se hace visible */
}

.cta-button#eventos {
    margin: 10% 1% 1% 1%;
}

#guia-perritos-hero {
    background: url(images/guia.jpeg) no-repeat center center / cover;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #b9f4d85c;
    border-radius: 5px;
    padding: 5px;
    background-color: #f1fff030;
}

.input-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input-wrapper input {
    border: none;
    outline: none;
    width: 100%;
}

.input-wrapper input::placeholder {
    color: #aaa;
}

.toggle-password {
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: #ceebd8;
    margin-left: 1px;
    border-radius: 5px;
    padding: 11px 4px;
}



.adoptados-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.adoptados-carousel h2 {
    margin-top: 79px;
    margin-bottom: 2px;
}

.adoptados-carousel p {
    font-size: 18px;
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 80%;
    /* Ajusta según necesites */
    margin: 0 auto;
    padding: 110px 25px;
    padding: 10px 25px 110px;
    padding: 36px 25px 110px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
    /* Se adapta al número de imágenes */
}

.carousel-images img {
    width: 200px;
    /* Ajusta el tamaño de las imágenes */
    margin-right: 10px;
}

button.prev,
button.next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 15px;
}

button.prev {
    left: -40px;
}

button.next {
    right: -40px;
}

button.prev,
button.next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 15px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.carrusel_img {
    border-radius: 10px;
}

.lista-valores.requisitos li {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 200px;
    padding-bottom: 10px;
    padding-left: 25px;
}
.img_li{
    width: 25px;
    height: 25px;
}