/* ================================================================
  ||                        ESTILOS GENERALES                     ||
   ================================================================ */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #eeffef;
}

a {
    text-decoration: none;
    color: #92ff44;
}

a:hover {
    color: #92ff44;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* ================================================================
  ||                        ESTILOS DEL HEADER                    ||
   ================================================================ */
.header {
    background-color: #2f5356;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #84d1c6;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 65px;
    height: auto;
    margin-right: 10px;
}

.site-title {
    font-size: 1.8em;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li a {
    font-weight: 700;
    padding: 10px 15px;
    color: white;
}

.nav li a:hover {
    color: #7dff63;
    outline: 5;
}

/* ================================================================
  ||                    SECCIÓN HERO (DESTACADA)                  ||
   ================================================================ */
.hero {
    background: url('images/20230602161539_6fe40edd-25f1-492b-bb00-aaa1cd5e67f21.png') no-repeat center center/cover;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero#nosotros-hero {
    background: url('images/Caan.jpg') no-repeat center center/cover;
    height: 70vh;
}

.hero-content {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.cta-button {
    background-color: #92ff44;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.88);
    color: white;
}

.image_info {
    width: 90%;
}

/* ================================================================
  ||                CONTENEDOR DE ONDAS (WAVE CONTAINER)          ||
   ================================================================ */
.wave-container {
    position: relative;
    top: -253px;
    margin: 0px;
    margin-bottom: -260px;
}

.wave-container svg {
    display: block;
    width: 100%;
    height: auto;
}
.wave-container-footer {
    position: relative;
    top: -236px;
    margin: 0px;
    margin-bottom: -260px;
    height: 50px;
    margin-bottom: -7px;
}

.wave-container-footer svg {
    display: block;
    width: 100%;
    height: auto;
}
.wave-container#adopta {
    margin-bottom: -319px;
}
.valores-wave,
.valores-wave-bottom {
    position: relative;
    margin: 0;
    top: -95px;
    width: 100%;
    padding: 0;
    margin-bottom: -211px;
    background-color: #8ecdb8;
}

.valores-wave svg,
.valores-wave-bottom svg {
    display: block;
    width: 100%;
    height: auto;
}
.nosotros-wave {
    background-color: #8ecdb8;
}
.wave-container#login-wave {
    position: relative;
    top: -253px;
    margin: 0px;
    margin-bottom: -341px;
    z-index: -1;
}
/* ================================================================
  ||                  SECCIÓN DE INFORMACIÓN                     ||
   ================================================================ */
.info-section,
#contenedor-perros {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    background-color: #8ecdb8;
    flex-wrap: wrap;
}

.info-item {
    background-color: #b9dfd1;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 23%;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
    cursor: pointer;
    scale: 105%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: white;
}

.overlay {
    color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.overlay h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1em;
    margin: 0;
}

/* ================================================================
  ||                   SECCIÓN DE DESTACADOS                     ||
   ================================================================ */
.highlights {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: white;
}

.highlight-box {
    text-align: center;
    max-width: 300px;
}

.highlight-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.highlight-box p {
    font-size: 1em;
    margin-bottom: 15px;
}

.highlight-box a {
    background-color: #92ff44;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.highlight-box a:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: white;
}

/* ================================================================
  ||                   SECCIÓN "SOBRE NOSOTROS"                  ||
   ================================================================ */
.about-us-section {
    background-color: #eeffef;
    padding: 40px 20px;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 175px;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2f5356;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about-text {
    width: 50%;
    text-align: left;
    font-size: 1.2em;
    color: #333;
}

.about-text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-text li {
    margin: 10px 0;
}

.about-image {
    width: 45%;
    text-align: center;
}

.about-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text,
    .about-image {
        width: 100%;
    }
}

.about-text p {
    text-align: justify;
}

/* Button below "About Us" section */
.cta-button {
    background-color: #29695c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cta-button#nosotros:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    /* box-shadow: 0 0 15px rgb(71 133 77 / 70%); */
    /* box-shadow: 0 0 15px rgb(215 255 80); */
    box-shadow: 0 0 15px rgb(255 254 32 / 73%);
    color: white;
}

/* ================================================================
   ||                    SECCIÓN DE FOOTER                        ||
   ================================================================ */
.footer {
    background-color: #2f5356;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    height: 50px;
    margin-top: 66px;
}


.footer-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    background-color: #19213e;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/* ================================================================
   ||                       MENU DE NAVEGACIÓN                    ||
   ================================================================ */
.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: #2f5356;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        border-top: 1px solid #84d1c6;
    }

    .nav.active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
    }

    .nav li a {
        padding: 10px;
        display: block;
    }

    .nav ul {
        flex-direction: column;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-item {
        width: 95%;
        height: auto;
    }

    .wave-container-footer {
        top: -139px;
        margin-bottom: -30px;
    }

    .footer-content {
        padding: 0px;
    }
}

/* ================================================================
   ||                SECCIÓN DE CONTENEDORES PARA TARJETAS         ||
   ================================================================ */

.contenedor-perros,
#contenedor-eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #8ECDB8;
}

.tarjeta-image {
    height: auto;
    width: 100%;
}

.tarjeta-perro,
.tarjeta-evento {
    border: 2px solid #c9fbff85;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 5px 4px 8px rgb(0 105 48 / 84%);
    transition: transform 0.3s;
    background-color: #b9dfd1;
}

.tarjeta-perro:hover,
.tarjeta-evento:hover {
    transform: translateY(-5px);
}

.tarjeta-perro img {
    width: 100%;
    height: auto;
}

.tarjeta-perro .detalles,
.tarjeta-evento .detalles {
    padding: 15px;
    text-align: center;
    margin: 5px;
}

.tarjeta-perro h3,
.tarjeta-evento h3 {
    margin: 0 0 10px;
    color: #333;
    margin: 2%;
}

.tarjeta-perro p,
.tarjeta-evento p {
    margin: 5px 0;
    color: #555;
    margin: 2%;
}
/* ================================================================
   ||                    SECCIÓN HERO PARA ADOPCIÓN Y EVENTOS      ||
   ================================================================ */
.hero#adopt {
    background: url('images/perro_mestizo.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero#event {
    background: url('images/GettyImages-1423623555.webp') no-repeat center center/cover;
}

/* ================================================================
   ||                SECCIÓN DE INTRODUCCIÓN ANTES DE TARJETAS     ||
   ================================================================ */
.introduccion {
    background-color: #8ECDB8;
    padding: 40px;
    text-align: center;
}

.introduccion h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.introduccion p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.hero {
    background-color: #8ecdb8;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .cta-button {
    background-color: #2f5356;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .cta-button:hover {
    background-color: #1f3d3c;
}


/* ================================================================
   ||                   SECCIÓN DE PREGUNTAS FRECUENTES            ||
   ================================================================ */
.faq {
    padding: 40px 20px;
    text-align: center;
}

.faq h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.faq-item h3 {
    font-size: 1.5rem;
    color: #2f5356;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.filters {
    background-color: #8ECDB8;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.filters select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.filters button {
    padding: 10px 20px;
    background-color: #2f5356;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filters button:hover {
    background-color: #45a049;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* ================================================================
  ||                   SECCIÓN DE QUIENES SOMOS                   ||
   ================================================================ */
.quienes-somos,
.nuestro-equipo {
    padding: 40px 20px;
    text-align: center;
}

.imagenes-historia img,
.miembros-equipo .miembro img {
    width: 45%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.miembros-equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.miembro {
    flex-basis: 30%;
}

.logros-proyectos {
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logros-proyectos h2,
.quienes-somos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2f5356;
}

.proyecto {
    margin-bottom: 1.5rem;
    border-left: 5px solid #8ecdb8;
    padding-left: 1rem;
    width: 85%;
}

.proyecto h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.proyecto p {
    font-size: 1.1rem;
    color: #555;
}

.quienes-somos {
    background-color: #8ecdb8;
}

.nuestros-valores {
    background-color: #f9f9f9;
    text-align: center;
    color: #2f5356;
    padding-bottom: 100px;
    background-color: #8ecdb8;
}


.titulo-valores {
    font-size: 2.5rem;
    z-index: 2;
    position: relative;
}


.descripcion-valores {
    font-size: 1.2rem;
}

.lista-valores {
    list-style: none;
    padding: 0;
}

.lista-valores li {
    font-size: 1.1rem;
}


.contenedor-valores {
    background-color: #8ecdb8;
}

#nosotros-footer {
    margin-top: 1px;
}

/* ================================================================
  ||                   SECCIÓN DE LOGIN Y REGISTRO               ||
   ================================================================ */
.login-container,
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8ecdb8;
    background-size: cover;
    padding: 20px;
    margin-top: 0%;
}

.login-form {
    background: #b9dfd1;
    /* Fondo blanco translúcido */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgb(36 103 54);
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #eeffef;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background: #fff;
}

.input-group input:focus {
    border-color: #4fa3ff;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: green;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #3a8dce;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #cf2525;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.sign-up-link {
    text-align: center;
    margin-top: 20px;
}

.sign-up-link a {
    color: #2b8d2b;
    text-decoration: none;
}

.sign-up-link a:hover {
    text-decoration: underline;
}

/* Estilos de respuesta móvil */
@media (max-width: 768px) {
    .login-container {
        padding: 10px;
    }

    .login-form {
        width: 90%;
        max-width: 400px;
    }

    h2 {
        font-size: 22px;
    }
}

/* ================================================================
  ||                   SECCIÓN DE LOGIN HERO                    ||
   ================================================================ */
.login-hero {
    color: #2f5356;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 105px;
    margin-top: 35px;
}



.login-hero h1 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.login-hero p {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    margin-top: 0;
}

/* ================================================================
  ||                   SECCIÓN DE REGISTER FORM                  ||
   ================================================================ */
   
.progress-container {
    width: 80%;
    background-color: #ddd;
    height: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #2f5356; /* Color de la barra */
    transition: width 0.3s ease;
}

.register-form {
    background: #b9dfd1;
    /* Fondo blanco translúcido */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgb(36 103 54);
}

.register-form h2 {
    margin-bottom: 20px;
    color: #2f5356;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.input-group input:focus {
    border-color: #92ff44;
    outline: none;
}

.btn-next,
.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #2f5356;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.btn-next:hover,
.btn-submit:hover {
    background-color: #92ff44;
}

.error-message {
    font-size: 0.9em;
    color: red;
    margin-top: 5px;
    display: block;
}
.confirmation-message {
    text-align: center;
    color: #2f5356;
    padding: 20px;
}

.confirmation-message h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #2f5356;
}

.confirmation-message p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

/* ================================================================
  ||                SECCIÓN DE NAVEGACIÓN DE PASOS               ||
   ================================================================ */
.step {
    display: none;
}

.step:first-child {
    display: block;
}

#acept {
    display: flex;
}

.input-group label#terms {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: flex;
}

#terms-input {
    width: 20px;
}
/* ================================================================
  ||                          DONACIONES                          ||
   ================================================================ */
.hero#donaciones-hero {
    background: url('images/donaciones.jpg') no-repeat center center/cover;
    height: 60vh;
}
.wave-container#donar {
    position: relative;
    top: -253px;
    margin: 0px;
    margin-bottom: -322px;
}
.donation-options {
    text-align: center;
    padding: 40px 20px;
    background-color: #8ecdb8;
    padding-bottom: 216px;
}

.donation-options h2 {
    font-size: 2.5em;
    color: #2f5356;
    margin-bottom: 20px;
}

.donation-options p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.donation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-shadow: 5px 4px 8px rgb(0 105 48 / 84%);
    transition: transform 0.3s;
    background-color: #b9dfd1;
}
.card:hover {
    cursor: pointer;
    scale: 105%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    color: white;
}
.card h3 {
    font-size: 1.5em;
    color: #2f5356;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}
